<div class="notice--danger" style="margin-left:auto;margin-right:auto;max-width:800px;display:inline-block;text-align:left">
  <h2>Statement on COVID-19, 21:00 UTC, 15 March 2020</h2>
  <p>
    Greetings beloved Drachenwald!
    </p>
    <p>
    As most of you are aware, the Austrian government has imposed limitations of gatherings to a maximum of 5 persons. We must of course abide by this and so, it is with a heavy heart that We must cancel the event in Austria where Spring Crown tournament was to be held. Plans are being discussed on how to secure the line of succession and We will announce Our decision once all the pieces are in place.
    </p>
    <p>
    Our kingdom spans many independent countries which adds an extra dimension to the complexity of trying to gather the relevant and most up-to-date information regarding the movements of COVID-19. Due to this highly dynamic situation We ask Our populace to show patience while We contact the autocrats of all events that are planned in the upcoming weeks to assess the risks.
    </p>
    <p>
    Our goal is to be able to provide more answers by the middle of this week.
    </p>
    <p>
    With hope and love for Drachenwald,<br />
    Æríkr konungur<br />
    Jacquelyna drottning
    </p>
    
</div>
