<div class="notice--danger" style="margin-left:auto;margin-right:auto;max-width:800px;display:inline-block;text-align:left">
  <h2>Statement on Midsummer Coronation,3 May 2020</h2>
    <p>
    Greetings beloved Drachenwald!
    </p>
    <p>
    We write to you with news in regards to the upcoming Midsummer coronation as well as Crown tournament. It is with heavy hearts that We have to let you all know that it is canceled. The event team has worked hard and has done all that they can but they, and We, need to look at the well-being of all and at this time it is not possible to hold an event during Midsummer.
</p>
    <p> At Our coronation We swore an oath to protect and serve Drachenwald to the best of Our abilities, until such time that Our heirs take over. This is an oath that We do not take lightly and so, with a variance granted by the SCA Board of Directors, We shall remain on the Black Dragon thrones and keep serving the Kingdom for one more full period. The next Crown tournament will take place as planned, in Reengarda of Nordmark, on October 9-11 2020, and the victors of Our tournament will be crowned as King and Queen at the 12th Night Coronation event in Knight's Crossing, on January 15-17 2021.

    </p>
    <p>We came to this solution after seeking advice both high and low and with much contemplation on what would be the best route for the Kingdom. Know that We always have the well-being of Our populace and of Our Kingdom as the highest priority and We thank you for the trust that has been placed upon Us. We do not know what the future will hold for Us but what We do know the strength that exists within this Kingdom and We are proud to be your King and Queen.
    </p>
    <p>
Be well, stay safe, find strength in each other and know that even if we cannot meet in person, we are never alone. <br />
Æríkr and Jacquelyna, King and Queen

    </p>

    <p>
      See also the <a href="https://drachenwald.sca.org/posts/tags/covid19/">The other messages on COVID19</a>.
    </p>
    
</div>
