<div class="notice--danger" style="margin-left:auto;margin-right:auto;max-width:800px;display:inline-block;text-align:left">
  <h2>Statement on COVID-19, 12 March 2020</h2>
  <p>Greetings unto Our beloved populace,</p>

  <p>We have just this evening had a meeting with Our seneschal and Exchequer regarding the possible impact of the COVID-19 virus on events in the Kingdom of Drachenwald.</p>
  
  <p>We have been and will continue to closely monitor the recommendations of the European Centre for Disease Prevention and Control (ECDC). At this time, Our intention is that Spring Crown tournament will go forward as planned.
  
  <p>We encourage all event stewards to follow the recommendations of their national health organizations, as well as <a href="https://www.ecdc.europa.eu/en/cases-2019-ncov-eueea">the ECDC</a> and/or <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">the WHO</a>, to make informed decisions.</p>
  
  <p>If event stewards have any additional questions please contact your regional seneschal or the kingdom seneschal if needed.</p>
  
  <p>As usual, if you or someone in your close vicinity is or has recently been sick, please take extra precautions and consider staying home.</p>
  
  <p>In service to Drachenwald and the Dream,<br>
  King Æríkr and Queen Jacquelyna</p>
</div>
