{% assign p = include.holder %}

{% unless include.sidebar == true %}<div class="row"><div class="8u 12u(mobile) important(mobile)">{% endunless %}
  <!-- Headers -->
  {% if p.responsibility == "" %}
  <dt>{{ group.group }} {{ group.status }} {{ include.longname }}</dt>
  {% else %}
  <dt>{{ group.group }} {{ p.responsibility }}</dt>
  {% endif %}

  <!-- include sca/mundane bio !-->
  <dd>
    {% if p.portrait %}
    {% unless p.portrait == "" %}
    <span class="image">
      <img style="float: left; margin: 0px 0px 15px 15px;" src="{{ site.baseurl }}/{{p.portrait}}" alt="{{p.scaname}}" width="75">
    </span>
    {% endunless %}
  {% endif %}  
  
  {% if include.showbio %}
    {% unless p.bio == "" %}
      <p>
      <strong>{{ p.scaname }}</strong>
      {{ p.bio }}
      </p>
    {% endunless %}
    
    {% unless p.realbio == "" %}
      <p>
      <strong>{{ p.mundanename }}</strong>
      {{ p.realbio }}
      </p>
    {% endunless %}
  {% endif %}
  
  <strong>{{ p.scaname }}</strong>
  {% unless p.mundanename == "" %}
  ({{ p.mundanename }})
  {% endunless %}
  {% unless p.pronouns == "" %}
  ({{ p.pronouns }})
  {% endunless %}
  <br>
  {% unless p.email == "" %}Email: <a href="mailto:{{ p.email }}">{{ p.email }}</a><br>{% endunless %}
  {% unless p.phone == "" %}Phone: {{ p.phone }}<br>{% endunless %}
  {% unless p.address == "" %}{{ p.address }}<br>{% endunless %}


  
  </dd>
{% unless include.sidebar %}</div> </div>{% endunless %}