{% assign p = include.holder %}

{% unless include.sidebar == true %}<div class="row"><div class="8u 12u(mobile) important(mobile)">{% endunless %}
  {% if p.responsibility == "" %}
  <h2>{{ group.group }} {{ group.status }} {{ include.longname }}</h2>
  {% else %}
  <h2>{{ group.group }} {{ p.responsibility }}</h2>
  {% endif %}

  {% if include.showbio %}
    {% if p.bio %}
      <p>
      <strong>{{ p.scaname }}</strong>
      {{ p.bio }}
      </p>
    {% endif %}
    
    {% if p.realbio %}
      <p>
      <strong>{{ p.mundanename }}</strong>
      {{ p.realbio }}
      </p>
    {% endif %}
  {% endif %}
  
  <strong>{{ p.scaname }}</strong>
  {% if p.mundanename %}
  ({{ p.mundanename }})
  {% endif %}
  <br>
  {% if p.email %}Email: <a href="mailto:{{ p.email }}">{{ p.email }}</a><br>{% endif %}
  {% if p.phone %}Phone: {{ p.phone }}<br>{% endif %}
  {% if p.address %}{{ p.address }}<br>{% endif %}

  {% unless include.sidebar == true %}
  </div>
  <div class="4u 12u(mobile)">
  {% endunless %}

  {% if p.portrait %}
    {% unless p.portrait == "" %}
    <br><br><br><br><br>
    <span class="image">
      <img src="{{ site.baseurl }}/{{p.portrait}}" alt="{{p.scaname}}" width="200">
    </span>
    {% endunless %}
  {% endif %}

{% unless include.sidebar %}</div></div>{% endunless %}