---
title: Where we are
---
{% assign groups = site.data.branches.data %}

{% assign parents = groups | where: "parent", "Drachenwald" | map: "group" | sort | uniq %}

{{ parents }}

<p><i>Groups are listed in alphabetical order by name of region, Principality or Barony.</i></p>

<p>To find an SCA group outside of Europe, the Middle East or Africa, see <a href="https://www.sca.org/about/kingdoms/">the main SCA website</a>.</p>

{% for parent in parents %}
  {% unless parent == "" or parent == "Drachenwald" or parent == " " %}
    {% assign item = groups | where: "group", parent | first %}
<b>{{ parent }}</b> ({{ item.mundanely }})<br>
  {% endunless %}
{% endfor %}
  
{% for parent in parents %}
	{% assign branch = groups | where: "group", parent | first %}
	{% if branch.status == "Region" %}
		<h2>{{ branch.group }} Region</h2>
	{% else %}
		<h2>{{ branch.status }} of {{ branch.group }}</h2>
	{% endif %}
	
	{% include branch_details.md branch=branch %}		
		
 {% endfor %}





<h1>old content </h1>



{% for parent in parents %}
  {% unless parent == "" or parent == "Drachenwald" or parent == " " %}
    {% assign item = groups | where: "group", parent | first %}
    {% unless item == null %}
  <a name="{{ item.group }}"></a>

      {% if item.status == "Region" %}
  <h2>{{ item.group }} Region</h2>
      {% else %}
  <h2>{{ item.status }} of {{ item.group }}</h2>
      {% endif %}

  <strong>Region:</strong> {{ item.mundanely }}<br>
        <strong>Online:</strong> {% unless item.website == "" %}<a href="{{ item.website }}">{{ item.website }} </a> {% endunless %}
        {% unless item.facebook-page == "" %} <a href="{{ item.facebook-page }}"><i class="fab fa-fw fa-facebook" style="color:blue" aria-hidden="true"></i></a> {% endunless %}
        {% unless item.twitter == "" %} <a href="{{ item.twitter }}"> <i class="fab fa-fw fa-twitter" style="color:blue" aria-hidden="true"></i></a> {% endunless %}
        {% unless item.facebook == "" %} <a href="{{ item.facebook }}"><i class="fab fa-fw fa-facebook" aria-hidden="true" style="color:blue"></i></a> {% endunless %}
        {% unless item.instagram == "" %} <a href="{{ item.instagram }}"><i class="fab fa-fw fa-instagram"  aria-hidden="true"></i></a> {% endunless %}
       {% unless item.discord == "" %} <a href="{{ item.discord }}"> <i class="fab fa-fw fa-discord" style="color:blue" aria-hidden="true"></i></a> {% endunless %}
        {% unless item.youtube == "" %} <a href="{{ item.youtube }}"> <i class="fab fa-fw fa-youtube" aria-hidden="true" style="color:red"></i></a> {% endunless %}
 		<br/>	
 		
        {% assign seneschal = site.data.groups.officerlist | where: "group", item.group | where: "office", "seneschal" | first %}
        {% assign chatelaine = site.data.groups.officerlist | where: "group", item.group | where: "office", "chatelaine" | first %}

        {% if seneschal %}
 <strong>Seneschal:</strong>  {{ seneschal.scaname }}
          {% unless seneschal.email == "" %} (<a href="mailto:{{ seneschal.email }}">{{ seneschal.email }}</a>) {% endunless %}
            {% unless seneschal.mundanename == "" %}({{ seneschal.mundanename }}){% endunless %}
  <br>
        {% endif %}

        {% if chatelaine %}
 <br> <strong>Chatelaine:</strong> {{ chatelaine.scaname }} 
          {% unless chatelaine.email == "" %} (<a href="mailto:{{ chatelaine.email }}">{{ chatelaine.email }}</a>){% endunless %}
            {% unless chatelaine.mundanename == "" %}({{ chatelaine.mundanename }}){% endunless %}
  <br>
        {% endif %}

    {% endunless %}




    {% assign subgroups = groups | where: "parent", item.group %}

    {% for subgroup in subgroups %}

      {% assign mod = forloop.index | modulo:"3" %}

      {% unless subgroup.status == "Dormant" %}
  <section>

  <h3>{{ subgroup.status }} of {{ subgroup.group }}</h3>
        {% unless subgroup.region == "" %}<strong>Region:</strong> {{ subgroup.mundanely }}<br>{% endunless %}
        <strong>Online:</strong> {% unless subgroup.website == "" %}<a href="{{ subgroup.website }}">{{ subgroup.website }} </a> {% endunless %}
              {% unless subgroup.facebook-page == "" %} <a href="{{ subgroup.facebook-page }}"><i class="fab fa-fw fa-facebook" style="color:blue" aria-hidden="true"></i></a> {% endunless %}
        {% unless subgroup.twitter == "" %} <a href="{{ subgroup.twitter }}"> <i class="fab fa-fw fa-twitter" style="color:blue" aria-hidden="true"></i></a> {% endunless %}
        {% unless subgroup.facebook == "" %} <a href="{{ subgroup.facebook }}"><i class="fab fa-fw fa-facebook" aria-hidden="true" style="color:blue"></i></a> {% endunless %}
        {% unless subgroup.instagram == "" %} <a href="{{ subgroup.instagram }}"><i class="fab fa-fw fa-instagram"  aria-hidden="true"></i></a> {% endunless %}
       {% unless subgroup.discord == "" %} <a href="{{ subgroup.discord }}"> <i class="fab fa-fw fa-discord" style="color:blue" aria-hidden="true"></i></a> {% endunless %}
        {% unless subgroup.youtube == "" %} <a href="{{ subgroup.youtube }}"> <i class="fab fa-fw fa-youtube" aria-hidden="true" style="color:red"></i></a> {% endunless %}	<br/>

        {% if item.group == "Insulae Draconis" or item.group == "Nordmark" or item.group == "Aarnimetsä" or item.group == "Knights Crossing" %}
          {% assign groupslug = item.group | append: '-' | append: subgroup.group %}
        {% else %}
          {% assign groupslug = subgroup.group %}
        {% endif %}

        {% assign seneschal = site.data.groups.officerlist | where: "group", groupslug | where: "office", "seneschal" | first %}
        {% assign chatelaine = site.data.groups.officerlist | where: "group", groupslug | where: "office", "chatelaine" | first %}

        {% if seneschal %}
          {% unless seneschal.scaname == "" %}
            
    <strong>Seneschal:</strong> {{ seneschal.scaname }} 
    {% unless seneschal.email == "" %}(<a href="mailto:{{ seneschal.email }}">{{ seneschal.email }}</a>){% endunless %}
              {% unless seneschal.mundanename == "" %}({{ seneschal.mundanename }}){% endunless %}
    <br>
            
          {% endunless %}
        {% endif %}

        {% if chatelaine %}
          {% unless chatelaine.scname == "" %}
            {% unless chatelaine.email == "" %}
    <strong>Chatelaine:</strong> {{ chatelaine.scaname }} (<a href="mailto:{{ chatelaine.email }}">{{ chatelaine.email }}</a>)
              {% unless chatelaine.mundanename == "" %}({{ chatelaine.mundanename }}){% endunless %}
    <br>
            {% endunless %}
          {% endunless %}
        {% endif %}
      
    </section>
    {% endunless %}
  
    {% endfor %}



  {% endunless %}

{% endfor %}

<h2>Far away places</h2>

<p>For areas other than above, contact the <a href="{{ site.baseurl }}{% link offices/seneschal/index.md %}">Kingdom Seneschal</a> or try these contacts.</p>

<h3>Croatia</h3>
<p>Contact: Lady Grainne Inghean Diarmada<br />Name: Rebecca Vidas<br />Email:&nbsp;<script type="text/javascript">document.write(String.fromCharCode(60,97,32,104,114,101,102,61,39,109,97,105,108,116,111,58,97,117,100,97,120,46,114,101,98,101,99,99,97,64,103,109,97,105,108,46,99,111,109,39,62,97,117,100,97,120,46,114,101,98,101,99,99,97,64,103,109,97,105,108,46,99,111,109,60,47,97,62));</script></p>
<h3 style="font-size: 21px;">Kuwait and Iraq</h3>
<p>Contact: Lord Kerwyn McMichael&nbsp;<br />Name: Daniel Meeker&nbsp;<br />Email: <script type="text/javascript">document.write(String.fromCharCode(60,97,32,104,114,101,102,61,39,109,97,105,108,116,111,58,69,109,112,105,114,101,95,111,102,95,68,114,97,99,104,101,110,119,97,108,100,64,121,97,104,111,111,103,114,111,117,112,115,46,99,111,109,39,62,69,109,112,105,114,101,95,111,102,95,68,114,97,99,104,101,110,119,97,108,100,64,121,97,104,111,111,103,114,111,117,112,115,46,99,111,109,60,47,97,62));</script></p>
<h3>Romania</h3>
<p>Contact: Dizo Diurdanus Lupus<br />Name: Stoica Romulus<br />Email: <script type="text/javascript">document.write(String.fromCharCode(60,97,32,104,114,101,102,61,39,109,97,105,108,116,111,58,108,117,112,95,97,108,98,95,49,51,64,121,97,104,111,111,46,99,111,109,39,62,108,117,112,95,97,108,98,95,49,51,64,121,97,104,111,111,46,99,111,109,60,47,97,62));</script></p>
<h3 style="font-size: 21px;">Switzerland</h3>
<p>Contact: Baron Colin Tyndall de Ffrayser<br />Name: John Fraser<br />Email: <script type="text/javascript">document.write(String.fromCharCode(60,97,32,104,114,101,102,61,39,109,97,105,108,116,111,58,116,121,110,100,97,108,108,64,103,109,120,46,99,104,39,62,116,121,110,100,97,108,108,64,103,109,120,46,99,104,60,47,97,62));</script></p>
