---
title: This is Drachenwald
excerpt:  The latest posts from a variety of people in Drachenwald who are skilled in different arts, practices, or areas of study.
---


This is Drachenwald is a view into the activity of the people who make up Drachenwald. These are new people as well as longstanding participants. People are active in a wide variety of topics, formats and languages. If you want to be included, the rules are that you need an RSS feed of SCA relevant content and you need to reside in Drachenwald. You can find more information in <a href="https://sca-drachenwald.gitlab.io/posts/news/2019/04/29/this-is-drachenwald/"> this blogpost</a>. If you want your feed added fill out a <a href="https://gitlab.com/sca-drachenwald/sca-drachenwald.gitlab.io/issues/new?issue[assignee_id]=&issue[milestone_id]=&issue[description]="add me to This is Drachenwald"> request here</a>

{% if site.data.thisisdrachenwald %}
  {% assign blogposts = site.data.thisisdrachenwald %}

{% else %}
  {% assign blogposts = "" %}
  The blog posts aren't available right now - please check back later.
{% endif %}

{% for itemAll in blogposts limit:20 %}
  {% if itemAll.merge %}
    {% assign item = itemAll.lst | first %}
    <article style="clear: both;">
    <h3><a href="{{ itemAll.siteLink }}">{{ itemAll.site }}</a></h3>
    <h5><em>{{ itemAll.site }} on {{ item.published[0] }}-{{ item.published[1] }}-{{ item.published[2] }}</em></h5>
    {% assign itemLst = itemAll.lst %}
    {% assign itemLstSize = itemLst | size | at_most: 9 %}
    displaying a selection of posts ({{ itemLstSize }})from this day:
    {% if itemLstSize != 0 %}
      {% for item in itemAll.lst limit:9 %}
        {% assign imageLst = item.images %}
        {% assign imageLstSize = imageLst | size %}
         {% assign image = imageLst | first %}
<figure style="display:table;float: left;  margin: 10px;border: thin silver solid;margin: 10px ;padding: 10px ; " >
<img src='/{{ image.thumb }}'  align="left" class="inlineMedia"></figure>
     {% endfor %}   
   {% endif %}
</article>
  {% else %}
    {% assign item = itemAll.lst | first %}
    {% assign imageLst = item.images %}
    {% assign imageLstSize = imageLst | size %}

    <article style="clear: both;">
      <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
      <h5><em>{{ itemAll.site }} on {{ item.published[0] }}-{{ item.published[1] }}-{{ item.published[2] }}</em></h5>
      {% if imageLstSize != 0 %}
        {% assign image = imageLst | first %}
        <figure style="display:table;float: right;margin: 10px;" align="left">
<img src='/{{ image.thumb }}'  align="left" class="inlineMedia"></figure>
      {% endif %}
      {{ item.summary }}
	<em> <a href="{{ item.link }}">read/watch more </a></em>
      </article> 
<hr style="clear: both;"> 
{% endif %}
{% endfor %}

<div class="pagination">
        <a href="{{ site.baseurl }}{% link thisis/index.html %}" title="Page 1"
        class="active"
        >1{{ trail.num }}</a>
  <a href="{{ site.baseurl }}{% link thisis/page2.html %}" title="Page 2"
  >2</a>
      <a href="{{ site.baseurl }}{% link thisis/page2.html %}">&gt;&gt;</a>
</div>

<p>&nbsp;</p>

<h1> Contributors</h1>

Would you like to read some more? Visit the blogs of all our contributors:
<ul>
{% for item in site.data.thisisdrachenwald_feedlist %}
<li><a href = "{{ item.link }}">{{ item.name }}</a></li>
{% endfor %}
</ul>

<p>
<i>The original blog owners are responsible for the content in this feed. Contact the blog owner with any questions about their content.</i> This page was last updated at {{ "now" | date: "%Y-%m-%d %H:%M" }} UTC
</p>
